workflows/centralized_error_handler_with_slack_notifications.json
{
  "updatedAt": "2025-12-07T09:29:08.921Z",
  "createdAt": "2025-12-07T07:37:24.079Z",
  "id": "keTFBU0cFnAb8La7",
  "name": "Centralized Error Handler with Slack Notifications",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c3301fcc-d941-4947-a9ae-5500a3840fa9",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "slackChannel",
              "value": "notifications",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorSeverity",
              "value": "high",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "notificationTitle",
              "value": "游뚿 Workflow Error Alert",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "63adcf24-2690-410d-a920-fc804d1220f2",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract error details from Error Trigger\nconst errorTriggerData = $input.first().json;\n\n// Get error details\nconst workflowName = errorTriggerData.workflow?.name || 'Unknown Workflow';\nconst executionId = errorTriggerData.execution?.id || 'N/A';\nconst errorMessage = errorTriggerData.error?.message || 'No error message available';\nconst nodeName = errorTriggerData.error?.node?.name || 'Unknown Node';\nconst timestamp = errorTriggerData.execution?.startedAt || new Date().toISOString();\nconst stackTrace = errorTriggerData.error?.stack || 'No stack trace available';\n\n// Get configuration from previous node\nconst config = $('Workflow Configuration').first().json;\nconst notificationTitle = config.notificationTitle || '游뚿 Workflow Error Alert';\nconst severity = config.errorSeverity || 'high';\n\n// Format timestamp\nconst formattedTimestamp = new Date(timestamp).toLocaleString('en-US', {\n  year: 'numeric',\n  month: 'short',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  timeZoneName: 'short'\n});\n\n// Determine severity emoji\nconst severityEmoji = {\n  'high': '游댮',\n  'medium': '游리',\n  'low': '游릭'\n}[severity.toLowerCase()] || '丘멆잺';\n\n// Create comprehensive Slack message with blocks\nconst slackMessage = `${notificationTitle}\n\n${severityEmoji} *Severity:* ${severity.toUpperCase()}\n\n*Workflow:* ${workflowName}\n*Execution ID:* ${executionId}\n*Failed Node:* ${nodeName}\n*Timestamp:* ${formattedTimestamp}\n\n*Error Message:*\n\\`\\`\\`\n${errorMessage}\n\\`\\`\\`\n\n*Stack Trace:*\n\\`\\`\\`\n${stackTrace.substring(0, 1000)}${stackTrace.length > 1000 ? '...(truncated)' : ''}\n\\`\\`\\`\n\n_View execution details in n8n for more information._`;\n\n// Return formatted data\nreturn {\n  json: {\n    slackMessage,\n    workflowName,\n    executionId,\n    errorMessage,\n    nodeName,\n    timestamp: formattedTimestamp,\n    severity,\n    stackTrace\n  }\n};"
      },
      "id": "9441c237-f653-41d6-bf83-470ee3428e98",
      "name": "Format Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.slackChannel }}"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "id": "2a601784-4e45-4c84-8329-a8064cf98306",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "webhookId": "66b10ac1-35f7-46e2-89a1-d14ba06a330e",
      "credentials": {
        "slackApi": {
          "id": "VDvZOmnOjHPMHj4M",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Format Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Details": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "77b0121a-882d-4024-ae27-c97bd9f2ec95",
  "activeVersionId": "77b0121a-882d-4024-ae27-c97bd9f2ec95",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-07T07:37:24.079Z",
      "createdAt": "2025-12-07T07:37:24.079Z",
      "role": "workflow:owner",
      "workflowId": "keTFBU0cFnAb8La7",
      "projectId": "yW0PefgfIPLp45hg"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-07T09:17:44.370Z",
    "createdAt": "2025-12-07T09:17:44.370Z",
    "versionId": "77b0121a-882d-4024-ae27-c97bd9f2ec95",
    "workflowId": "keTFBU0cFnAb8La7",
    "nodes": [
      {
        "parameters": {},
        "id": "c3301fcc-d941-4947-a9ae-5500a3840fa9",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "slackChannel",
                "value": "notifications",
                "type": "string"
              },
              {
                "id": "id-2",
                "name": "errorSeverity",
                "value": "high",
                "type": "string"
              },
              {
                "id": "id-3",
                "name": "notificationTitle",
                "value": "游뚿 Workflow Error Alert",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "63adcf24-2690-410d-a920-fc804d1220f2",
        "name": "Workflow Configuration",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// Extract error details from Error Trigger\nconst errorTriggerData = $input.first().json;\n\n// Get error details\nconst workflowName = errorTriggerData.workflow?.name || 'Unknown Workflow';\nconst executionId = errorTriggerData.execution?.id || 'N/A';\nconst errorMessage = errorTriggerData.error?.message || 'No error message available';\nconst nodeName = errorTriggerData.error?.node?.name || 'Unknown Node';\nconst timestamp = errorTriggerData.execution?.startedAt || new Date().toISOString();\nconst stackTrace = errorTriggerData.error?.stack || 'No stack trace available';\n\n// Get configuration from previous node\nconst config = $('Workflow Configuration').first().json;\nconst notificationTitle = config.notificationTitle || '游뚿 Workflow Error Alert';\nconst severity = config.errorSeverity || 'high';\n\n// Format timestamp\nconst formattedTimestamp = new Date(timestamp).toLocaleString('en-US', {\n  year: 'numeric',\n  month: 'short',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  timeZoneName: 'short'\n});\n\n// Determine severity emoji\nconst severityEmoji = {\n  'high': '游댮',\n  'medium': '游리',\n  'low': '游릭'\n}[severity.toLowerCase()] || '丘멆잺';\n\n// Create comprehensive Slack message with blocks\nconst slackMessage = `${notificationTitle}\n\n${severityEmoji} *Severity:* ${severity.toUpperCase()}\n\n*Workflow:* ${workflowName}\n*Execution ID:* ${executionId}\n*Failed Node:* ${nodeName}\n*Timestamp:* ${formattedTimestamp}\n\n*Error Message:*\n\\`\\`\\`\n${errorMessage}\n\\`\\`\\`\n\n*Stack Trace:*\n\\`\\`\\`\n${stackTrace.substring(0, 1000)}${stackTrace.length > 1000 ? '...(truncated)' : ''}\n\\`\\`\\`\n\n_View execution details in n8n for more information._`;\n\n// Return formatted data\nreturn {\n  json: {\n    slackMessage,\n    workflowName,\n    executionId,\n    errorMessage,\n    nodeName,\n    timestamp: formattedTimestamp,\n    severity,\n    stackTrace\n  }\n};"
        },
        "id": "9441c237-f653-41d6-bf83-470ee3428e98",
        "name": "Format Error Details",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Workflow Configuration').first().json.slackChannel }}"
          },
          "text": "={{ $json.slackMessage }}",
          "otherOptions": {}
        },
        "id": "2a601784-4e45-4c84-8329-a8064cf98306",
        "name": "Send Error to Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          672,
          0
        ],
        "webhookId": "66b10ac1-35f7-46e2-89a1-d14ba06a330e",
        "credentials": {
          "slackApi": {
            "id": "VDvZOmnOjHPMHj4M",
            "name": "Slack account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Workflow Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Configuration": {
        "main": [
          [
            {
              "node": "Format Error Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error Details": {
        "main": [
          [
            {
              "node": "Send Error to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": [
    {
      "updatedAt": "2025-12-07T07:37:22.939Z",
      "createdAt": "2025-12-07T07:37:22.939Z",
      "id": "sOSoQife1MUruckl",
      "name": "public"
    }
  ]
}