workflows/n8n_workflows_github_backup.json
{
  "updatedAt": "2026-01-05T20:59:55.035Z",
  "createdAt": "2025-12-07T07:37:45.022Z",
  "id": "NcX7dhB0UswMYKXi",
  "name": "n8n Workflows GitHub Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "update"
        ]
      },
      "id": "0e65fcf2-4cec-4314-8e6f-9d79ff8d8f6b",
      "name": "When Workflow Updated",
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "githubOwner",
              "value": "cemalkarabulakli",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "githubRepo",
              "value": "AI-Automation-Case-Study",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "githubBranch",
              "value": "main",
              "type": "string"
            },
            {
              "id": "47bc9c7d-6e9a-4d14-b0b0-2ccff4fa6a7c",
              "name": "publicRepo",
              "value": "ai-automation-systems-casestudy",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "84f4942f-8274-43b2-9497-ef1561cffb98",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "workflowName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "fileName",
              "value": "={{ $json.name.toLowerCase().replace(/ /g, \"_\") }}.json",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "fileContent",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "commitMessage",
              "value": "=Backup workflow: {{ $json.name }} (Updated at {{ $now.toISO() }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "efc7553b-07df-4bbb-b563-a18ddb94f232",
      "name": "Format Workflow JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.githubOwner }}"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Repo Config').first().json.finalRepo }}",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $('Format Workflow JSON').item.json.fileName }}",
        "fileContent": "={{ $('Format Workflow JSON').item.json.fileContent }}",
        "commitMessage": "={{ $('Format Workflow JSON').item.json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Workflow Configuration').first().json.githubBranch }}"
          }
        }
      },
      "id": "8ef3ce22-6c26-4491-96af-dadfedcddf62",
      "name": "Create or Update File in GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "webhookId": "52d8dd6b-6fe2-4987-913c-30471a13ff63",
      "credentials": {
        "githubApi": {
          "id": "kLlK60YaZAcCdd7h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Check if Github File Exists').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c175fa38-1376-464c-b90e-125683e8024a",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        208
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.githubOwner }}"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Repo Config').first().json.finalRepo }}",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $('Format Workflow JSON').first().json.fileName }}",
        "fileContent": "={{ $('Format Workflow JSON').first().json.fileContent }}",
        "commitMessage": "={{ $('Format Workflow JSON').first().json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Workflow Configuration').first().json.githubBranch }}"
          }
        }
      },
      "id": "7fd1a002-0915-4c24-bb08-30301e8e7ded",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        768,
        16
      ],
      "webhookId": "b045209d-a464-47d5-840a-c1f87abb914b",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "kLlK60YaZAcCdd7h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "tags": ""
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -448,
        192
      ],
      "id": "797259ac-a002-4537-98fa-2a603e340b7b",
      "name": "Get All Workflows",
      "credentials": {
        "n8nApi": {
          "id": "oxTkNQsFEjeK14CI",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "49386efc-33c7-4fea-8006-aaba193f216e",
      "name": "Workflow Starting Slack Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        -896,
        192
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "VDvZOmnOjHPMHj4M",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        192
      ],
      "id": "282af13e-72a7-4b98-862a-fb6b247b0a58",
      "name": "Workflows Loop"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "c8395355-077f-458a-a4f8-e528a1cb9c7e",
      "name": "Workflow Completed Slack Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        0,
        0
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "VDvZOmnOjHPMHj4M",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Workflow Configuration').first().json.githubOwner }}/{{ $('Repo Config').first().json.finalRepo }}/contents/workflows/{{ $('Format Workflow JSON').first().json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "8748d29b-af41-481a-9ab4-054109e9c0b5",
      "name": "Check if Github File Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        208
      ],
      "credentials": {
        "githubApi": {
          "id": "kLlK60YaZAcCdd7h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        96
      ],
      "id": "fffd9a99-307f-42c8-9cc2-a80c71b11855",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-2",
              "name": "finalRepo",
              "value": "={{ $('Get All Workflows').item.json.tags && $('Get All Workflows').item.json.tags.length > 0\n    // If the tags array exists, proceed to check for 'public'.\n    ? ($('Get All Workflows').item.json.tags[0].name.includes('public')\n        // If 'public' is found, return the publicRepo.\n        ? $('Workflow Configuration').first().json.publicRepo\n        // If 'public' is NOT found, return the githubRepo.\n        : $('Workflow Configuration').first().json.githubRepo\n      )\n    // 2. If the tags array does NOT exist or is empty (initial check fails), return the githubRepo.\n    : $('Workflow Configuration').first().json.githubRepo\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "31397fbb-640b-4ffb-ba61-b874d3e3a13d",
      "name": "Repo Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        208
      ]
    }
  ],
  "connections": {
    "When Workflow Updated": {
      "main": [
        [
          {
            "node": "Workflow Starting Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Workflow JSON": {
      "main": [
        [
          {
            "node": "Repo Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create or Update File in GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update File in GitHub": {
      "main": [
        [
          {
            "node": "Workflows Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Workflows Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Workflows Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Starting Slack Notification": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows Loop": {
      "main": [
        [
          {
            "node": "Workflow Completed Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Github File Exists": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repo Config": {
      "main": [
        [
          {
            "node": "Check if Github File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Starting Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "keTFBU0cFnAb8La7"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74c260e5-2298-4776-88e2-f5228060c501",
  "activeVersionId": "74c260e5-2298-4776-88e2-f5228060c501",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-07T07:37:45.022Z",
      "createdAt": "2025-12-07T07:37:45.022Z",
      "role": "workflow:owner",
      "workflowId": "NcX7dhB0UswMYKXi",
      "projectId": "yW0PefgfIPLp45hg"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-05T20:59:58.152Z",
    "createdAt": "2026-01-05T20:59:55.043Z",
    "versionId": "74c260e5-2298-4776-88e2-f5228060c501",
    "workflowId": "NcX7dhB0UswMYKXi",
    "nodes": [
      {
        "parameters": {
          "events": [
            "update"
          ]
        },
        "id": "0e65fcf2-4cec-4314-8e6f-9d79ff8d8f6b",
        "name": "When Workflow Updated",
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -1120,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "githubOwner",
                "value": "cemalkarabulakli",
                "type": "string"
              },
              {
                "id": "id-2",
                "name": "githubRepo",
                "value": "AI-Automation-Case-Study",
                "type": "string"
              },
              {
                "id": "id-3",
                "name": "githubBranch",
                "value": "main",
                "type": "string"
              },
              {
                "id": "47bc9c7d-6e9a-4d14-b0b0-2ccff4fa6a7c",
                "name": "publicRepo",
                "value": "ai-automation-systems-casestudy",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "84f4942f-8274-43b2-9497-ef1561cffb98",
        "name": "Workflow Configuration",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -672,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "workflowName",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "id-2",
                "name": "fileName",
                "value": "={{ $json.name.toLowerCase().replace(/ /g, \"_\") }}.json",
                "type": "string"
              },
              {
                "id": "id-3",
                "name": "fileContent",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "id-4",
                "name": "commitMessage",
                "value": "=Backup workflow: {{ $json.name }} (Updated at {{ $now.toISO() }})",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "efc7553b-07df-4bbb-b563-a18ddb94f232",
        "name": "Format Workflow JSON",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          208
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Workflow Configuration').first().json.githubOwner }}"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Repo Config').first().json.finalRepo }}",
            "mode": "name"
          },
          "filePath": "=workflows/{{ $('Format Workflow JSON').item.json.fileName }}",
          "fileContent": "={{ $('Format Workflow JSON').item.json.fileContent }}",
          "commitMessage": "={{ $('Format Workflow JSON').item.json.commitMessage }}",
          "additionalParameters": {
            "branch": {
              "branch": "={{ $('Workflow Configuration').first().json.githubBranch }}"
            }
          }
        },
        "id": "8ef3ce22-6c26-4491-96af-dadfedcddf62",
        "name": "Create or Update File in GitHub",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          768,
          208
        ],
        "webhookId": "52d8dd6b-6fe2-4987-913c-30471a13ff63",
        "credentials": {
          "githubApi": {
            "id": "kLlK60YaZAcCdd7h",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "id-1",
                "leftValue": "={{ $('Check if Github File Exists').item.json.statusCode }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "c175fa38-1376-464c-b90e-125683e8024a",
        "name": "File Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          576,
          208
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Workflow Configuration').first().json.githubOwner }}"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Repo Config').first().json.finalRepo }}",
            "mode": "name"
          },
          "filePath": "=workflows/{{ $('Format Workflow JSON').first().json.fileName }}",
          "fileContent": "={{ $('Format Workflow JSON').first().json.fileContent }}",
          "commitMessage": "={{ $('Format Workflow JSON').first().json.commitMessage }}",
          "additionalParameters": {
            "branch": {
              "branch": "={{ $('Workflow Configuration').first().json.githubBranch }}"
            }
          }
        },
        "id": "7fd1a002-0915-4c24-bb08-30301e8e7ded",
        "name": "Update Existing File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          768,
          16
        ],
        "webhookId": "b045209d-a464-47d5-840a-c1f87abb914b",
        "retryOnFail": false,
        "credentials": {
          "githubApi": {
            "id": "kLlK60YaZAcCdd7h",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "filters": {
            "tags": ""
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -448,
          192
        ],
        "id": "797259ac-a002-4537-98fa-2a603e340b7b",
        "name": "Get All Workflows",
        "credentials": {
          "n8nApi": {
            "id": "oxTkNQsFEjeK14CI",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "id": "49386efc-33c7-4fea-8006-aaba193f216e",
        "name": "Workflow Starting Slack Notification",
        "type": "n8n-nodes-base.slack",
        "position": [
          -896,
          192
        ],
        "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
        "typeVersion": 2.2,
        "credentials": {
          "slackApi": {
            "id": "VDvZOmnOjHPMHj4M",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -224,
          192
        ],
        "id": "282af13e-72a7-4b98-862a-fb6b247b0a58",
        "name": "Workflows Loop"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "id": "c8395355-077f-458a-a4f8-e528a1cb9c7e",
        "name": "Workflow Completed Slack Notification",
        "type": "n8n-nodes-base.slack",
        "position": [
          0,
          0
        ],
        "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
        "typeVersion": 2.2,
        "credentials": {
          "slackApi": {
            "id": "VDvZOmnOjHPMHj4M",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{ $('Workflow Configuration').first().json.githubOwner }}/{{ $('Repo Config').first().json.finalRepo }}/contents/workflows/{{ $('Format Workflow JSON').first().json.fileName }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "id": "8748d29b-af41-481a-9ab4-054109e9c0b5",
        "name": "Check if Github File Exists",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          208
        ],
        "credentials": {
          "githubApi": {
            "id": "kLlK60YaZAcCdd7h",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1120,
          96
        ],
        "id": "fffd9a99-307f-42c8-9cc2-a80c71b11855",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-2",
                "name": "finalRepo",
                "value": "={{ $('Get All Workflows').item.json.tags && $('Get All Workflows').item.json.tags.length > 0\n    // If the tags array exists, proceed to check for 'public'.\n    ? ($('Get All Workflows').item.json.tags[0].name.includes('public')\n        // If 'public' is found, return the publicRepo.\n        ? $('Workflow Configuration').first().json.publicRepo\n        // If 'public' is NOT found, return the githubRepo.\n        : $('Workflow Configuration').first().json.githubRepo\n      )\n    // 2. If the tags array does NOT exist or is empty (initial check fails), return the githubRepo.\n    : $('Workflow Configuration').first().json.githubRepo\n}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "31397fbb-640b-4ffb-ba61-b874d3e3a13d",
        "name": "Repo Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          208
        ]
      }
    ],
    "connections": {
      "When Workflow Updated": {
        "main": [
          [
            {
              "node": "Workflow Starting Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Configuration": {
        "main": [
          [
            {
              "node": "Get All Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Workflow JSON": {
        "main": [
          [
            {
              "node": "Repo Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists?": {
        "main": [
          [
            {
              "node": "Update Existing File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create or Update File in GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create or Update File in GitHub": {
        "main": [
          [
            {
              "node": "Workflows Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Existing File": {
        "main": [
          [
            {
              "node": "Workflows Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Workflows": {
        "main": [
          [
            {
              "node": "Workflows Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Starting Slack Notification": {
        "main": [
          [
            {
              "node": "Workflow Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflows Loop": {
        "main": [
          [
            {
              "node": "Workflow Completed Slack Notification",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Workflow JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Github File Exists": {
        "main": [
          [
            {
              "node": "File Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Repo Config": {
        "main": [
          [
            {
              "node": "Check if Github File Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Workflow Starting Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cemal Karabulaklı",
    "name": "Version 74c260e5",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-12-07T07:37:22.939Z",
      "createdAt": "2025-12-07T07:37:22.939Z",
      "id": "sOSoQife1MUruckl",
      "name": "public"
    }
  ]
}