workflows/n8n_workflows_github_backup.json
{
  "updatedAt": "2025-12-01T21:16:36.340Z",
  "createdAt": "2025-11-29T15:22:09.418Z",
  "id": "5eHR3uY5pcGDI078",
  "name": "n8n Workflows GitHub Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "update"
        ]
      },
      "id": "cd0b2b13-cd1b-4892-b744-a61f14bb04a9",
      "name": "When Workflow Updated",
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        1440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "githubOwner",
              "value": "cemalkarabulakli",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "githubRepo",
              "value": "AI-Automation-Case-Study",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "githubBranch",
              "value": "main",
              "type": "string"
            },
            {
              "id": "47bc9c7d-6e9a-4d14-b0b0-2ccff4fa6a7c",
              "name": "publicRepo",
              "value": "ai-automation-systems-casestudy",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "745bb566-86de-4375-a6cf-2a6cbd9bbf33",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "workflowName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "fileName",
              "value": "={{ $json.name.toLowerCase().replace(/ /g, \"_\") }}.json",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "fileContent",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "commitMessage",
              "value": "=Backup workflow: {{ $json.name }} (Updated at {{ $now.toISO() }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a4476ab6-d3b3-411a-833b-1910eb6aade8",
      "name": "Format Workflow JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        1264
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.githubOwner }}"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Get All Workflows').item.json.tags[0].name.includes('public') ? $('Workflow Configuration').first().json.publicRepo : $('Workflow Configuration').first().json.githubRepo }}",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $('Format Workflow JSON').item.json.fileName }}",
        "fileContent": "={{ $('Format Workflow JSON').item.json.fileContent }}",
        "commitMessage": "={{ $('Format Workflow JSON').item.json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Workflow Configuration').first().json.githubBranch }}"
          }
        }
      },
      "id": "f4961371-2a46-4fb8-b87a-f8a91dee057d",
      "name": "Create or Update File in GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1568,
        1296
      ],
      "webhookId": "52d8dd6b-6fe2-4987-913c-30471a13ff63",
      "credentials": {
        "githubApi": {
          "id": "Q6RmloW3oSwwwZoW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Check if Github File Exists').item.json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a51911a6-571f-4e47-ae87-0524a32c8458",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        1264
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.githubOwner }}"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Get All Workflows').item.json.tags[0].name.includes('public') ? $('Workflow Configuration').first().json.publicRepo : $('Workflow Configuration').first().json.githubRepo }}",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $('Format Workflow JSON').first().json.fileName }}",
        "fileContent": "={{ $('Format Workflow JSON').first().json.fileContent }}",
        "commitMessage": "={{ $('Format Workflow JSON').first().json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Workflow Configuration').first().json.githubBranch }}"
          }
        }
      },
      "id": "67f0fc72-33f7-4c57-98aa-610dbbe7748b",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1568,
        1072
      ],
      "webhookId": "b045209d-a464-47d5-840a-c1f87abb914b",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "Q6RmloW3oSwwwZoW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "tags": "public"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        496,
        1344
      ],
      "id": "f19c94dc-c200-4b51-9580-fcd9822a9322",
      "name": "Get All Workflows",
      "credentials": {
        "n8nApi": {
          "id": "LexzuuNlgtsadViM",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "c0f8d50c-b826-49f8-ae54-b7dc7d3db732",
      "name": "Workflow Starting Slack Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        48,
        1344
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "CuzmOPMtETGz61Uq",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        1344
      ],
      "id": "d73527a3-14ab-40a8-8357-d0fe1fd09ac6",
      "name": "Workflows Loop"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "94d5edef-8b26-489c-9fe0-9086fd0b5585",
      "name": "Workflow Completed Slack Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        944,
        1072
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "CuzmOPMtETGz61Uq",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Workflow Configuration').first().json.githubOwner }}/{{ $('Get All Workflows').item.json.tags[0].name.includes('public') ? $('Workflow Configuration').first().json.publicRepo : $('Workflow Configuration').first().json.githubRepo }}/contents/workflows/{{ $('Format Workflow JSON').first().json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "6ffa36ae-a5c6-4099-bad4-1b189715b422",
      "name": "Check if Github File Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        1264
      ],
      "credentials": {
        "githubApi": {
          "id": "Q6RmloW3oSwwwZoW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        1248
      ],
      "id": "b3f54946-4160-42db-8d67-62a9c1fcf5d1",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When Workflow Updated": {
      "main": [
        [
          {
            "node": "Workflow Starting Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Workflow JSON": {
      "main": [
        [
          {
            "node": "Check if Github File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create or Update File in GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update File in GitHub": {
      "main": [
        [
          {
            "node": "Workflows Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Workflows Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Workflows Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Starting Slack Notification": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows Loop": {
      "main": [
        [
          {
            "node": "Workflow Completed Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Github File Exists": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Starting Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "PxjlYG2Q4JSxdsup"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fe6715d7-ceca-4853-af32-65599cc5e122",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-11-29T15:22:09.418Z",
      "createdAt": "2025-11-29T15:22:09.418Z",
      "role": "workflow:owner",
      "workflowId": "5eHR3uY5pcGDI078",
      "projectId": "34wdTWun3zwPTO9K"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-01T21:14:21.337Z",
      "createdAt": "2025-12-01T21:14:21.337Z",
      "id": "TlXbVpMog10NmaMF",
      "name": "public"
    }
  ]
}